
body {
    font-family: "Arial", "Helvetica", sans-serif;
}

p {
    line-height: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-indent: 30px;
    text-align: justify;
    padding: 5px;

}

.sobreh1 {
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    border-bottom: 2px solid #333333;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.container {
    margin: 0 auto;
    width: 940px;
}
.container-sobre {
    margin: 0 auto;
    width: 940px;
}

.logotipo {
    position: relative;
    top: 20px;
    left: 50px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sacola {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}

.destaque {
    margin-top: 10px;
}
.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li:hover{
    background-color: #dcdcdc
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
}

.mais-vendidos {
    float: right;
}


.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px;
}
.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;
}

.mais-vendidos {
    background-color: #dcdcf5;
}

section[class|="menu"]{
    border-radius: 4px;
}

footer {
    clear: both;
}

footer {
    padding: 20px 0;
}

footer .container {

    background-image: url(../img/fundo-rodape.png);
    height: auto;
    position:relative;
    clear: both;
}

.social {
    position: absolute;
    top: 12px;
    right: 15px;
}
.social li {
    float: left;
    margin-left: 25px;
}

.logofooter{
    position: relative;
    margin-left: 15px;
}

p:first-letter {
    font-weight: bold;
}

h1 + p {
    text-indent: 0;
}

p:first-line {
    font-variant: small-caps;
}